@import "../../../../scss/main.scss";
.ListItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $font-base;
  font-weight: lighter;
  padding:30px 0;
  @media screen and (max-width: 600px){
    flex-direction: column;
  }
  &:nth-child(2){
    border-top: 0.75px solid $color-dark-gray;
    border-bottom: 0.75px solid $color-dark-gray;
  }
  .ListItem__mainInfo{
    width: 100%;
    @media screen and (max-width: 600px){
      p{
        margin: 15px 0;
      }
    }
    h3{
      font-size: 26px;
    }
    p{
      font-size: 18px;
    }
  }
  .ListItem__details{
    width: 30%;
    @media screen and (max-width: 600px){
      width: 100%;
    }
    p{
      font-size: 18px;
      font-style: italic;
      padding-right: 2%;
    }
  }

}