@import "../../../scss/main.scss";

.header {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  margin: 0 2%;

  div {
    display: flex;
    align-items: center;

    a {
      text-decoration: none;
      font-size: 14px;
      padding: 9px 10px;
      outline: none;
      border: none;
      background-color: transparent;
      cursor: pointer;
      color: $color-dark-gray;
      &:last-child {
        border: 0.75px solid $color-dallas;
        margin-left: 20px;
      }
    }
  }


  [class*=loggedIn] {
    .initials{
      text-transform: uppercase;
      border-radius: 50%;
      color: #F1f1f1;
      padding: 12px;
      margin-left: 5px;
      font-weight: bolder;
    }
    a:first-of-type {
      border: 0.75px solid $color-dallas;
      margin-left: 20px;
    }
    a:last-child{
      border: none;
      margin-left: 20px;
    }
  }


    nav {
      a {
        cursor: pointer;
        font-size: 18px;
        color: $color-dark-gray;
        padding: 9px 20px;

        &:first-child {
          border: 0.75px solid $color-dark-gray;
        }
      }
      [href='/']{
        color: $color-dark-gray;
        text-decoration: none;
        padding: 5px 14px;
      }


    }
  }