@import "../../../scss/main.scss";

.Contact {
  height: 700px;
  display: flex;
  align-items: stretch;
  position: relative;
  margin: 0 2% 0 0;
  &::after{
    content: '';
    background-image: url("../../../assets/Background-Contact-Form.jpg");
    opacity: .2;
    background-size: cover;
    background-position: top;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .Contact__container {
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    color: $color-dark-gray;
    text-align: center;
    @media screen and (max-width: 700px){
      align-items: center;
    }
    h3{
      font-size: 38px;
    }
    svg{
      margin: 30px 0;
    }
    form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: stretch;
      @media screen and (max-width: 500px){
        padding: 0 2%;
      }
      .Contact__message{
        color: green;
      }
      small{
        height: 10px;
        display: none;
        padding-top: 5px;
        font-size: 10px;
        color: red;
      }
      [class*=error]{
        small{
          display: initial;
        }
      }
      [class*=succes]{
        small{
          display: initial;
          color: green;
          font-size: 18px;
        }
      }
      .Contact__userInfo{
        display: flex;
        justify-content: space-between;
        @media screen and (max-width: 500px){
          flex-direction: column;
          align-items: stretch;
          input{
            width: 100%;
          }
        }
        label{
          margin: 10px 0;
        }
        div{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 30px;
          input{
            border: none;
            border-bottom: 0.75px solid $color-dark-gray;
            outline: none;
            padding-top: 20px;
            background: transparent;

          }
        }
      }
      .Contact__userMessage{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        textarea{
          border: none;
          border-bottom: 0.75px solid $color-dark-gray;
          outline: none;
          resize: none;
          width: 100%;
          padding-top: 20px;
          background: transparent;
        }
      }
      button{
        margin-top: 50px;
        background-color: transparent;
        font-size: 18px;
        font-family: $font-base;
        font-weight: lighter;
        padding: 13px 52px;
        align-self: flex-end;
        border: 0.75px solid $color-dark-gray;
        outline: none;
        cursor: pointer;
        transition: background-color 1s ease;
        &:hover{
          background-color: $color-white;
          color: #000;
        }
      }
    }
  }
}