@import "../../../scss/main.scss";
.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 600px;
  margin: -100px 2% 0 0;
  padding-top: 100px;
  @media screen and (max-width: 790px){
    height: auto;
    justify-content: center;
  }

  .hero__img{
    width: 45%;
    height: 100%;
    background-image: url("../../../assets/Home-Hero-Image.jpg");
    background-size: cover;
    background-position: right;
    z-index: -1;
    @media screen and (max-width: 790px){
      position: relative;
      height: 600px;
    }
    @media screen and (max-width: 500px){
      display: none;
    }
  }
  .hero__info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
      text-align: center;
      font-size: 38px;
      color: $color-dark-gray;
    }
    svg{
      margin: 30px 0 60px 0;
    }
    .hero__buttons{
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      a{
        font-weight: lighter;
        color: $color-dark-gray;
        text-decoration: none;
        text-align: center;
        background-color: transparent;
        font-family: $font-base;
        font-size: 36px;
        max-width: 240px;
        border: 0.75px solid $color-dark-gray;
        outline: none;
        cursor: pointer;
        text-transform: uppercase;
        padding: 10px 0;
        margin: 10px 5px;
      }
    }
  }


}