.footer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  position: relative;
  margin: 0 2%;
  @media screen and (max-width: 400px) {
    justify-content: flex-start;
  }
  .icons{
    position: absolute;
    right: 1vh;
  }
}