.StatBox{
  text-align: center;
  max-width: 350px;
  h1{
    font-size: 90px;
    color: #5E5322;
    font-weight: lighter;
  }
  h2{
    text-transform: uppercase;
    font-size: 18px;
    color: #3C3C3C;
    margin: 20px 0;
  }
  p{
    color: #3C3C3C;
    font-family: 'Merriweather', serif;
  }
}