@import "../../../scss/main";

.FormSection{
  height: 800px;
  background-image: url("../../../assets/Background-Form.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .FormSection__container{
    margin: 0 2%;
    height: 100%;
    h4{
      margin-top: 30px;
      color: $color-dark-gray;
      font-size: 24px;
      align-self: flex-start;
    }
    h2{
      margin-top: 60px;
      font-size: 36px;
    }
    button{
      font-family: $font-base;
      font-size: 24px;
      font-weight: lighter;
      border: .75px solid $color-dark-gray;
      padding: 10px 45px;
      outline: none;
      &:active{
        background-color: $color-yellow;
      }
    }
  }
}