@import "../../../scss/main";

.FormSection{
  height: 800px;
  background-image: url("../../../assets/Background-Form.jpg");
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;


  .FormSection__container{
    margin: 0 2%;
    height: 100%;
    h4{
      margin-top: 30px;
      color: $color-dark-gray;
      font-size: 24px;
      align-self: flex-start;
    }
    h2{
      margin-top: 60px;
      font-size: 36px;
    }
    div{
      margin: 50px 0;
      label{
        font-size: 24px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
      }
      input[type=checkbox]{
        display: none;
        & + label::after{
          opacity: 1;
          content: "";
          display: block;
          width: 24px;
          height: 24px;
          border: .75px solid $color-dark-gray;
          margin: 0 15px;
        }
        &:checked + label::after{
          background-color: $color-yellow;
        }
      }

    }
    button{
      font-family: $font-base;
      font-size: 24px;
      font-weight: lighter;
      border: .75px solid $color-dark-gray;
      padding: 10px 45px;
      outline: none;
      &:active{
        background-color: $color-yellow;
      }
    }
  }
}