@import "../../../../scss/main";
//todo:: set display for mobile
.steps {
  h2{
    margin-top: 60px;
    font-size: 36px;
    margin-bottom: 15px;
  }
  div {
    margin: 30px 0;

    label {
      font-size: 24px;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    input[type=checkbox] {
      display: none;

      & + label::after {
        opacity: 1;
        content: "";
        display: block;
        width: 24px;
        height: 24px;
        border: .75px solid $color-dark-gray;
        margin: 0 15px;
      }

      &:checked + label::after {
        background-color: $color-yellow;
      }
    }
  }
  p{
    margin-bottom: 15px;
  }
  input[type=text]{
    width: 100%;
    background-color: #edecea;
    outline: none;
    padding: 8px 8px;
    border: .75px solid $color-dark-gray;
    margin-top: 15px;
  }
  select{
    padding: 8px 30px;
    color: $color-dark-gray;
    cursor: pointer;
    background-color: #edecea;
    outline: none;
    text-align: center;
  //  todo:: dopracować
  }
  .step2{
    display: flex;
    align-items: center;
    select{
      margin-left: 15px;
    //  todo:: add more style
    }
  }
  .step4__container{
    display: flex;
    .step4{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &:first-child{
        margin-right: 15px;
      }
      p{
        font-size: 24px;
        font-weight: bold;
      }
      &>div{
        margin: 10px 0;
        display: flex;
        flex-direction: row-reverse;
        align-items: baseline;
        label{
          width: 170px;
        }
      }
      .picker{
        div{
          //display: initial;
          margin: 0;
        }
      }
    }
  }
}
.summary{
  display: flex;
  flex-direction: column;
  div{
    margin: 0;
  }
  h2{
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-dark-gray;
    .localization{
      text-transform: capitalize;
      display: flex;
      align-items: center;
      &::before{
        content: '';
        display: inline-block;
        width: 2em;
        height: 2em;
        background-image: url("../../../../assets/Icon-4.svg");
        background-size: cover;
        margin-right: 15px;
      }
    }
    .items{
      width: 100%;
      display: flex;
      align-items: center;
      &::before{
        content: '';
        display: inline-block;
        width: 2em;
        height: 2em;
        background-image: url("../../../../assets/Icon-1.svg");
        background-size: cover;
        margin-right: 15px;

      }
      li{
        font-size: 18px;
        list-style-type: none;
        &:first-child{
          margin-left: 15px;
        }
      }
    }
    p:first-child{
      font-size: 24px;
      margin: 15px 0;
      &.title{
        width: 100%;
      }
    }

    .adress__sec{
      margin-top: 30px;
      display: flex;
      align-items: flex-start;
      &>div{
        width: 300px;
        margin-right: 60px;
        &>div{
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        .message{
          text-align: end;
        }
      }
    }
  }
}
.ThankYou{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 40px;
  text-align: center;
  svg{
    margin-top: 30px;
  }
}