@import "src/scss/main";
.fourSteps{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .fourSteps__header{
    margin-top: 30px;
    text-align: center;
    font-size: 38px;
    color: $color-dark-gray;
  }
  .separator{
    margin: 30px 0 30px 0;
  }
  .items{
    background-color: #F0F1F1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 90px 0;
    text-align: center;
    align-self: stretch;
    flex-wrap: wrap;
  }
  .link{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    a{
      text-decoration: none;
      text-transform: uppercase;
      font-weight: lighter;
      font-size: 36px;
      max-width: 230px;
      text-align: center;
      color: $color-dark-gray;
      padding: 10px 30px;
      border: 0.75px solid $color-dark-gray;
      transition: background-color 1s ease;
      &:hover{
        background-color: $color-white;
        color: #000;
      }
    }
  }
}