@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,300&family=Open+Sans:wght@300;400;600;700;800&display=swap');
$font-base: 'Open Sans', sans-serif;
$font-alt: 'Merriweather', serif;


$color-white: #F0F1F1;
$color-dallas: #5E5322;
$color-yellow: #FAD648;
$color-light-grey: #737373;
$color-dark-gray: #3C3C3C;



